/* CSS GERAL */

/* Tons de cores comuns no sistema */

.primary-shade {
  color: #e53935;
}

.primary-background {
  background-color: #e53935 !important;
}

.secondary-background {
  background-color: #616161 !important;
}

.secondary-shade-1 {
  color: #212121;
}

.secondary-shade-2 {
  color: #424242;
}

.secondary-shade-3 {
  color: #616161;
}

.secondary-shade-4 {
  color: #9e9e9e;
}

.secondary-shade-5 {
  color: #bdbdbd;
}

.secondary-shade-6 {
  color: #e0e0e0;
}

.secondary-shade-7 {
  color: #f5f5f5;
}

.secondary-shade-8 {
  color: #ffffff;
}

.invalid-feedback {
  display: block !important;
  color: #d44950;
}

/* Estilização geral de icones */

.primary-icon {
  font-size: 20px !important;
}

.secondary-icon {
  font-size: 24px !important;
}

/* Estilizações do componente Header */

.header {
  border-bottom: 2px solid #e0e0e0;
  height: 200px;
}

.header-top {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.header-top-item {
  display: inline-block;
}

.logo-component {
  margin: 10px 0px 10px 0px;
}

.header-bottom {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 10px 0px 10px 0px;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.1px;
}

.header-bottom-search-input {
  line-height: 20px;
  font-weight: 500;
  min-width: 450px;
  border-bottom: 2px solid black !important;
}

.search-input {
  border: 0px !important;
}

/* Estilização para o componente salesinfo */

.sales-info {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  background-color: #f5f5f5;
  margin: 200px 0px 20px 0px;
  font-size: 12px;
  line-height: 20px;
}

.sales-info-item-right {
  text-align: right;
}

.sales-info-item-center {
  text-align: center;
}

.sales-info-item-left {
  text-align: left;
}

/* Estilizaçaõ para o componente Kart */

.kart-title {
  font-family: "Montserrat", sans-serif;
  margin: 30px 0px;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1.5px;
}

.kart-item {
  padding: 10px 0px 15px 0px;
}

.kart-item-img {
  padding-right: 30px;
  padding-left: 10px;
}

.kart-item-info {
  margin: 0px 10px;
  display: inline-block;
}

.kart-item-info-name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 200px;
}

.kart-item-info-sku {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.kart-item-info-obs {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
}

.kart-item-quantity {
  margin: 0px 10px;
  display: inline-block;
}

.kart-item-quantity-number {
  text-align: center !important;
  width: 50px !important;
  border: none !important;
  background: white !important;
}

.kart-item-price-trash {
  padding: 0px 10px;
  display: inline-block;
}

.kart-purchase {
  padding: 10px;
}

.kart-purchase-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.1px;
  padding: 0px 10px 15px 10px;
}

.kart-purchase-info {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 10px 10px 10px;
}

.kart-purchase-total {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px;
}

.kart-purchase-button-div {
  padding: 10px;
}
.kart-purchase-button {
  height: 50px;
}

/* Estilização para o componente de finalização de compra */
.purchase-section-table-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
}

.purchase-section-table-wrapper-scroll-y {
  display: block;
}

.table th {
  text-align: center;
}

/* Estilização do componente de notificações */

.Toastify__toast {
  height: 80px;
  font-size: 1.1rem;
}

/* Media Querys para responsividade */

@media only screen and (max-width: 992px) {
  .header {
    height: 270px;
  }

  .header-bottom-kart-total {
    text-align: center;
    margin-top: 10px;
  }

  .header-bottom-nav {
    justify-content: center !important;
  }

  .sales-info {
    margin-top: 270px;
  }

  .sales-info-item {
    text-align: center;
  }
}
